* {
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app {
    margin: 100px 0;
    padding: 10px;
    box-shadow: -1px -6px 20px 17px #dad7d7;
}
.mount__header {
    padding: 25px 0;
    margin: auto;
    width: 100%;
    text-align: center;
}

.days__wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 550px;
    position: relative;
}

.day__item, .day__item.empty {
    transition: all .5s ease-in-out;
    border: 1px solid #e8e8e8;
    height: 78px;
}
.day__item, .calendar__days ul li, .day__item.empty {
    width: 78px;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
}

.current__day {
    background-color: blue;
}
.day__item:nth-child(7n-1),.day__item:nth-child(7n),
.calendar__days ul li:nth-child(6n),.calendar__days ul li:last-child {
    border: 1px solid red;
}
.day__item.empty {
    pointer-events: none;
}
.calendar__days ul{
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-around;
}

.calendar__days ul li {
    padding: 5px 0;
}

.day__item.details {
    width: 100%;
    height: 100%;
    padding: 60px;
    position: absolute;
    cursor: pointer;
    background-color: #bcbcbc;
}

.day__item.details .day__item-input {
    display: block;
}

.day__item-input {
    display: none;
    transition: all .5s ease-in-out;
}
.day__item-todo{
    padding: 0;
    margin-top: 4px;
}

.day__item-todo li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

.day__item .day__item-todo li:before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: blueviolet;
    position: absolute;
    left: 0px;
    top: 3px;
    transition: all .5s ease-in-out;
}

.day__item.details li:before {
    width: 10px;
    height: 10px;
}

.day__item:hover {
    background-color: #bcbcbc;
}
/*TODO @Vlad clear styles and group rules*/
.calendar__header {
    display: flex;
    border-bottom: 1px solid #dad7d7;
}
.nav {
    cursor: pointer;
}


